<launch>
    <arg name="arg_x" default="0.00" />
    <arg name="arg_y" default="0.00" />
    <arg name="arg_z" default="0.3" />
    <arg name="arg_R" default="0.00" />
    <arg name="arg_P" default="0.00" />
    <arg name="arg_Y" default="0.00" />

    <!-- Load the robot into parameter server -->
    <param name="robot_description" textfile="$(find WAFL2025)/urdf/WAFL2025.urdf"/> 

    <!-- Joint State Publisher -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="False"/>
        <rosparam param="source_list">[/joint_states]</rosparam>
    </node>

    <!-- TF Transformations -->
    <node pkg="tf" type="static_transform_publisher" name="map_to_odom" 
        args="0.0 0.0 0.0 0 0 0.0 /map /odom 40" />

    <!-- Robot State Publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
        respawn="false" output="screen"/>  

    <!-- RViz Visualization -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find WAFL2025)/config/trial.rviz"/>

    <!-- ROS Control -->
    <node name="controller_spawner" pkg="controller_manager" 
        type="controller_manager" args="load diff_drive_controller" />

    <!-- ******** ADDED NODES ******** -->
    <!-- Swerve Odometry Node -->
    <node name="swerve_odometry_node" pkg="WAFL2025" type="swerve_odometry_node.py"
        output="screen" respawn="true" />

    <!-- Manual Drive Control Node -->
    <node name="manual_drive_control" pkg="WAFL2025" type="manual_drive_control.py"
        output="screen" respawn="true" />

</launch>